
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.bg-brand-red {
  background-color: #ef4444 !important;
}

.text-brand-red {
  color: #ef4444 !important;
}

.bg-brand-turquoise {
  background-color: #00CED1 !important;
}

.text-brand-turquoise {
  color: #00CED1 !important;
}

.text-brand-black {
  color: #000000 !important;
}
